#how2 {
  text-align: center;
  color: white;
  background-color: #8eaeb9;
  padding: 1em;
  margin: 2em;
  margin-top: .9em;
  border-radius: 20px;
  line-height: 1.9em;
}

@media (min-width: 600px) {
  #how2 {
    font-family: 'Comfortaa', cursive;
    margin: 80px 10% 85px;
    padding: 4em 3em;
    font-size: 20px;
  }

  #yelpSearch {
    font-size: 24px;
    padding: 25px 10px;
  }
}