* {
    box-sizing:border-box;
}

body{
    font-family: sans-serif; 
    font-size:16px;
    background-color: #fff;
}

main{
    width:480px;
    margin:0 auto;
    padding:20px;
    background-color: #add8e6;
    position: relative;
}

main h1{
    display: inline-block
}

nav .icon-menu {
    font-size: 32px;
    float: right;
    margin: 5px 20px 0 0;
}
nav ul {
    display: none;
    clear: both;
    padding: 0 0 30px 0;
    list-style-type: none;
}

nav .icon-menu:hover + ul,
nav ul:hover {
    display: block;
}

nav ul li {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

.h1-nav{
    display:block; 
    float:left;
}

.clear{
    clear:both;
}

.error-view{
    display:none;
}

.admin-view{
    display:none;
}

input{

    border-radius:5px;
    border-style:none;
    width:90%;
    padding:20px;
    height:25px;
    margin:10px 5%;
    color:#333;
}

.container{
    width:100%;
}

button {
    height:40px;
    border-radius: 4px;
    background-color:#648c99;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:90%;
    margin:10px 5%;
}

.img-wrapper{
    float:left;
}

.restaurant-overlay{
    float:left;
}